*bk*
*test*

# The following files are modified automatically each time Gleb's program in compiled
ana6bar/nogui_analysis_06_26_12*/*.o
ana6bar/nogui_analysis_06_26_12*/analysis6bars
ana6bar/nogui_analysis_06_26_12*/MyMainFrameDict.*
ana6bar/nogui_analysis_06_26_12*/macroDict.*
