*bk*
*test*

# The following files are modified automatically each time Gleb's program in compiled
nogui_analysis_06_26_12*/*.o
nogui_analysis_06_26_12*/analysis6bars
nogui_analysis_06_26_12*/MyMainFrameDict.*
nogui_analysis_06_26_12*/macroDict.*
